<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGCgIgN_n7OQeo9RK3gY7BZ3ZalBjXxjk</string>
	<key>GCM_SENDER_ID</key>
	<string>216734963187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carbon</string>
	<key>PROJECT_ID</key>
	<string>carbon-ebd06</string>
	<key>STORAGE_BUCKET</key>
	<string>carbon-ebd06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216734963187:ios:0419ea72064d6ca35e2e86</string>
</dict>
</plist>